@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: lightgray;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color:rgb(189, 170, 0);
        font-size: 1.2em;

        span {
            color: black;
        }
    }

    nav.menu-btn {
        display: block;
    }

    nav {
        display: none;
        position: fixed;
        z-index: 999;
        width: 66%;
        right: 0;
        top: 0;
        background: darkgoldenrod;
        height: 100vh;
        padding: 1em;

        ul.primary-nav {
            margin-top: 3em;
        }

        li {
            a {
                color: black;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;
            }

            &:hover {
                font-weight: bold;
            }
        }
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }

    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

.login {
    h1 {
        color:rgb(189, 170, 0);
        span {
            color: black;
        }
    }
    label {
        margin-bottom: 0.2em;
        display: block;
    }
    input {
        margin-bottom: 0.2em;
        border: 1px;
        border-radius: .3em;
        padding: 0.5em 2em;
        box-sizing: border-box;
    }
    input[type="submit"] {
        margin-top: 1em;
        background-color: rgb(189, 170, 0);
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
    .hidden {
        font-weight: bold;
        color: red;
    }
    .validator {
        display: flex;
        justify-content: center;
        p {
            margin-left: 1em;
        }
    }
}

.new-post {
    h1 {
        margin-bottom: .5em;
        color:rgb(189, 170, 0);
        span {
            color: black;
        }
    }
    label {
        margin-bottom: 0.2em;
        display: block;
        font-size: 1.3em;
    }
    input, textarea {
        width: 15%;
        padding: .5em;
        border-radius: .3em;
        margin-bottom: .5em;
        box-sizing: border-box;
    }
    textarea {
        width: 55%;
    }
    input[type="text"] {
        width: 30%;
    }
    input[type="submit"] {
        background-color: rgb(189, 170, 0);
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
}

.actual-post {
    text-align: center;
    h2 {
        font-size: 2em;
    }
    p {
        font-style: italic;
    }
    .post-article {
        font-size: 0.9em;
    }
    .edit-delete {
        display: inline-block;
    }
    input[type="submit"] {
        width: 100%;
        background-color: rgb(189, 170, 0);
        color: black;
        font-weight: bold;
        border-radius: .3em;
        margin-right: 2em;
        cursor: pointer;
    }
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 0em 2em;
    text-align: center;

    li {
        background: gray;
        border-radius: 4em;
        padding: 1em 2em;
        margin-bottom: 1em;
        display: inline-block;
    }

    .post-title {
        text-decoration: none;
        font-size: 1.2em;
    }

    .post-cite {
        display: block;
        font-size: 0.9em;
    }

    .post-image {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar {
        .container {
            display: grid;
            grid-template-columns: 180px auto;
            justify-content: unset;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;

            ul.primary-nav {
                margin: 0;
            }

            ul {
                display: flex;
            }

            li {
                a {
                    color: black;
                    font-size: 1em;
                    padding: .1em 1em;
                }
            }
        }
    }

    section {
        h1 {
            margin-bottom: 2em;
        }
        li {
            margin-left: 5em;
        }
    }
}